<% layout('layout') %>
<h1><%= title %></h1>
<h2><%- titleH2 %></h2>
<% if(show) { %>
<p>條件滿足</p>
<% } else { %>
<p>條件不滿足</p>
<%} %>
<ul>
    <% for(var i=0;i< foods.length;i++){ %>
    <li><%-foods[i] %></li>
    <%  } %>
</ul>